<a href="https://colab.research.google.com/github/Erasnilson/Trat-dados-via-PySpark/blob/main/Trat_dados_via_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tratamento de dados via PySpark
- Nesse exemplo utilizaremos uma base de dados da Agência Nacional de Aviação Civil (ANAC).

- Fluxo de voos no mês 06-2024

## Java e Spark

O Apache Spark é uma plataforma de processamento de dados em larga escala, projetada para ser rápida e eficiente. Ele é amplamente utilizado em várias áreas, permite a análise de grandes volumes de dados em paralelo. As tarefas podem ser distribuídas por vários nós de uma rede, o que acelera o processamento.

In [ ]:
#download do Java via colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
#download do spark via colab
!wget -q https://dlcdn.apache.org/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz

In [ ]:
#descompactando o spark
!tar xf spark-3.5.1-bin-hadoop3.tgz

### Instalando o findspark

A biblioteca findspark é utilizada para realizar a configuração do pyspark.
O findspark permite que você especifique o caminho de instalação do Spark manualmente dentro do seu código, sem precisar configurar variáveis de ambiente do sistema.

In [ ]:
#instalando o findspark
!pip install -q findspark

In [ ]:
#importando as bilbiotecas
import findspark
import os

In [ ]:
#configurando a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

### Iniciando uma sessão do spark em modo local

In [ ]:
!pip install pyspark==3.4.0

Collecting pyspark==3.4.0
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.4.0) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317122 sha256=7e428f702b00684b0ccd6b809f36aeb4da9996d2e4092e17a793e5f00d4978f4
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
#informando a pasta raíz do spark
findspark.init("spark-3.5.1-bin-hadoop3")

In [ ]:
#iniciando uma sessão do Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
#visualizando a versão do Spark
spark

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd

In [ ]:
#iniciando o objeto SQLContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

/content/spark-3.5.1-bin-hadoop3/python/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

## Dataset [Sirios-ANAC](https://siros.anac.gov.br/siros/registros/diversos/vra/2024/)

## Base de dados da Agência Nacional de Aviação Civil (ANAC).

 - Fluxo de voos no mês 06-2024
 - Aerpoporto de Guarulhos

In [ ]:
!wget https://siros.anac.gov.br/siros/registros/diversos/vra/2024/VRA_2024_06.csv

--2024-08-11 23:32:47--  https://siros.anac.gov.br/siros/registros/diversos/vra/2024/VRA_2024_06.csv
Resolving siros.anac.gov.br (siros.anac.gov.br)... 189.84.138.178
Connecting to siros.anac.gov.br (siros.anac.gov.br)|189.84.138.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22207071 (21M) [application/octet-stream]
Saving to: ‘VRA_2024_06.csv’

VRA_2024_06.csv     100%[===================>]  21.18M   947KB/s    in 24s

2024-08-11 23:33:13 (896 KB/s) - ‘VRA_2024_06.csv’ saved [22207071/22207071]

In [ ]:
#realizando o download da pasta
#!wget -r -np -nH --cut-dirs=4 -A csv https://siros.anac.gov.br/siros/registros/diversos/vra/2023/
#descompactando o arquivo de dados em zip
#!unzip 2019.zip

In [ ]:
data_voo = sqlContext.read.load("VRA_2024_06.csv", #pasta "2023/*"
                     format='csv',
                     header='true',
                     #lineSep='',#\r\n
                     inferSchema='true',
                     delimiter=";",
                     multiLine = 'true',
                     dateFormat = "dd/MM/yyyy",
                     timestampFormat = "dd/MM/yyyy HH:mm")

In [ ]:
# tratando a cofiguração data-hora dentro de cada pasta (por ano)
data_voo.show(5)
data_voo.printSchema()

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: string (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)


# A variável "referência"  foi classificada como string, deve ser classificada como data.

In [ ]:
# Tornando a variável referencia no mesmo padrão dos outros anos
from pyspark.sql.functions import *
#data_voov2=data_voo.withColumn('Referência', substring('Referência', 1,10))

# deixar a variavel referencia no mesmo padrao das demais
data_voov2 = data_voo.withColumn('Referência', to_date(data_voo['Referência'], 'yyyy-MM-dd'))

In [ ]:
# tratando a cofiguração data-hora dentro de cada pasta (por ano)
data_voov2.show(5)
data_voov2.printSchema()

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: date (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)

Uma das estratégias ofertadas pelo Spark, com foco em aumentar o desempenho da execução de operações sobre os dados é o método cache(), que permite guardar em memória os resultados dos dados obtidos por operações, para serem utilizados em consultas posteriores.

In [ ]:
spark

In [ ]:
#criando um cache dos dados
df_train = data_voov2.cache()

## Organizando a base de dados

In [ ]:
# deletar coluna que possui null
# eliminando colunas que sem "data de partidas"/"chegada do voo" (Referência = data prevista sem horas)
df_train = df_train.dropna(subset=('Partida Real','Chegada Real','Referência'))
df_train.show(5)

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

# Criando novas variáveis a partir da data de Referência

In [ ]:
# subdividir uma variavel por carachter
from pyspark.sql.types import IntegerType

df_train=df_train.withColumn('year', substring('Referência', 1,4).cast(IntegerType()))\
.withColumn('month', substring('Referência', 6,2).cast(IntegerType()))\
.withColumn('day', substring('Referência', 9,2).cast(IntegerType()))

df_train.show(5)
df_train.printSchema()
# 4 digitos (incluíndo 1) = ano  ex: 2024-06-01
# 2 digitos (incluíndo 6) = mês
# 2 digitos (incluíndo 9) = mês

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|year|month|day|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: date (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [ ]:
# Filtrar a base de dados que será utilizada (considerando uma pré-análise)
df_train.filter( (col('Situação Voo') == "REALIZADO") & (col('Sigla ICAO Aeroporto Origem') == "SBGR") & (col('year')==2024) ).show(5)
# SBGR - Guarulhos

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|year|month|day|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0962|        0|                I|              B789|               295|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 22:20:00|2024-06-01 22:16:00|                        KDFW|       DALLAS-FORT WORTH...|2024-06-02 08:45:00|2024-06-02 08:18:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-02 23:15:00|2024-06-02 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-03 07:45:00|2024-06-03 07:27:00|   REALIZADO|         NULL|2024-06-02|      Antecipado|      Antecipado|2024|    6|  2|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-02 21:25:00|2024-06-02 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-03 05:55:00|2024-06-03 05:31:00|   REALIZADO|         NULL|2024-06-02|      Antecipado|      Antecipado|2024|    6|  2|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+
only showing top 5 rows

# Filtros em pyspark/pandas

In [ ]:
# Demais filtros
#df_train.filter( (col('Situação Voo') == "REALIZADO") & (col('Sigla ICAO Aeroporto Origem') == "SBGR") & (col('year')==2024) ).toPandas().head(5)
#df_train.groupBy('year','month').agg({"Referência": "count"}).sort('year','month').toPandas()
#df_train.groupBy('Situação Chegada',"Empresa Aérea","DiffInHoursR").count().show()
#df_train.groupBy('Situação Chegada',"Empresa Aérea","Data_Ref").agg({"horas_voo": "avg"}).sort("Empresa Aérea").show()
#'Sigla ICAO Aeroporto Destino'Referência .sort('year','month')
#.sort("Situação Voo", "Número de Assentos")
#.agg({"salary": "avg", "age": "max"}).show()

## Groupby

In [ ]:
from pandas.core.indexes.api import safe_sort_index
from numpy import select
from pandas.core.groupby import groupby

# Voos por dia em Guarulhos
df_train.groupBy("Referência").agg({"Referência": "count"}).sort('Referência').show(5)

# Renomear as variáveis
from pyspark.sql.functions import *
#df_train.withColumnRenamed("Referência","Data").withColumnRenamed("count(Referência)","n")

+----------+-----------------+
|Referência|count(Referência)|
+----------+-----------------+
|2024-06-01|             1886|
|2024-06-02|             2365|
|2024-06-03|             2570|
|2024-06-04|             2563|
|2024-06-05|             2555|
+----------+-----------------+
only showing top 5 rows

In [ ]:
# Converter o DataFrame PySpark para um DataFrame Pandas
pd_df = df_train.toPandas()

In [ ]:
!pip install unidecode
import unidecode

pd_df.columns = (
    pd_df.columns
    .map(unidecode.unidecode)  # Remove a acentuação de todas as letras
    .str.replace('[^A-Za-z0-9_]', '', regex=True)  # Remove caracteres especiais, mantendo letras e números
)
pd_df.columns

Collecting unidecode
  Downloading Unidecode-1.3.8-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.8-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 kB 15.5 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.8

Index(['SiglaICAOEmpresaAerea', 'EmpresaAerea', 'NumeroVoo', 'CodigoDI',
       'CodigoTipoLinha', 'ModeloEquipamento', 'NumerodeAssentos',
       'SiglaICAOAeroportoOrigem', 'DescricaoAeroportoOrigem',
       'PartidaPrevista', 'PartidaReal', 'SiglaICAOAeroportoDestino',
       'DescricaoAeroportoDestino', 'ChegadaPrevista', 'ChegadaReal',
       'SituacaoVoo', 'Justificativa', 'Referencia', 'SituacaoPartida',
       'SituacaoChegada', 'year', 'month', 'day'],
      dtype='object')

In [ ]:


# Filtrar os dados com as condições desejadas e mostrar as 5 primeiras linhas
filtered_df = pd_df[(pd_df['SituacaoVoo'] == "REALIZADO") &
                    (pd_df['SiglaICAOAeroportoOrigem'] == "SBGR") &
                    (pd_df['year'] == 2024)]

In [ ]:
#get info about the dataset:
print(filtered_df.info())
print("-"*25)
# to know more about the shape of the dataset:
print("shape of the dataset -->>",np.shape(filtered_df))

<class 'pandas.core.frame.DataFrame'>
Index: 11146 entries, 2 to 75195
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SiglaICAOEmpresaAerea      11146 non-null  object
 1   EmpresaAerea               11146 non-null  object
 2   NumeroVoo                  11146 non-null  object
 3   CodigoDI                   11146 non-null  object
 4   CodigoTipoLinha            11146 non-null  object
 5   ModeloEquipamento          11146 non-null  object
 6   NumerodeAssentos           11146 non-null  int32
 7   SiglaICAOAeroportoOrigem   11146 non-null  object
 8   DescricaoAeroportoOrigem   11146 non-null  object
 9   PartidaPrevista            10919 non-null  datetime64[ns]
 10  PartidaReal                11146 non-null  datetime64[ns]
 11  SiglaICAOAeroportoDestino  11146 non-null  object
 12  DescricaoAeroportoDestino  11146 non-null  object
 13  ChegadaPrevista            10919 non-null  datetime64[ns]
 14  ChegadaReal                11146 non-null  datetime64[ns]
 15  SituacaoVoo                11146 non-null  object
 16  Justificativa              0 non-null      object
 17  Referencia                 11146 non-null  object
 18  SituacaoPartida            10919 non-null  object
 19  SituacaoChegada            10919 non-null  object
 20  year                       11146 non-null  int32
 21  month                      11146 non-null  int32
 22  day                        11146 non-null  int32
dtypes: datetime64[ns](4), int32(4), object(15)
memory usage: 1.9+ MB
None
-------------------------
shape of the dataset -->> (11146, 23)

In [ ]:
#check if there null values in data:
filtered_df.isna().mean()

SiglaICAOEmpresaAerea        0.000000
EmpresaAerea                 0.000000
NumeroVoo                    0.000000
CodigoDI                     0.000000
CodigoTipoLinha              0.000000
ModeloEquipamento            0.000000
NumerodeAssentos             0.000000
SiglaICAOAeroportoOrigem     0.000000
DescricaoAeroportoOrigem     0.000000
PartidaPrevista              0.020366
PartidaReal                  0.000000
SiglaICAOAeroportoDestino    0.000000
DescricaoAeroportoDestino    0.000000
ChegadaPrevista              0.020366
ChegadaReal                  0.000000
SituacaoVoo                  0.000000
Justificativa                1.000000
Referencia                   0.000000
SituacaoPartida              0.020366
SituacaoChegada              0.020366
year                         0.000000
month                        0.000000
day                          0.000000
dtype: float64

# Quantitativo de cada item em cada coluna:

In [ ]:
# Especificar as colunas que você deseja iterar
variaveis = ['EmpresaAerea', 'ModeloEquipamento', 'DescricaoAeroportoOrigem']

# Loop para contar itens nas colunas especificadas
for col in variaveis:
    print(f"Counts of items in {col} -->> {filtered_df[col].value_counts()}") #\n
    print("-" * 25)

Counts of items in EmpresaAerea -->> EmpresaAerea
TAM LINHAS AÉREAS S.A.                                       5314
GOL LINHAS AÉREAS S.A. (EX- VRG LINHAS AÉREAS S.A.)          2473
AZUL LINHAS AÉREAS BRASILEIRAS S/A                            745
PASSAREDO TRANSPORTES AÉREOS S.A.                             264
LATAM AIRLINES GROUP (EX - LAN AIRLINES S/A)                  211
SIDERAL LINHAS AÉREAS LTDA.                                   193
COMPAÑIA PANAMEÑA DE AVIACION S.A. (COPA AIRLINES)            160
AMERICAN AIRLINES, INC.                                       119
UNITED AIRLINES, INC                                          117
AEROLINEAS ARGENTINAS S/A                                     112
TAP - TRANSPORTES AÉREOS PORTUGUESES S/A                       92
AEROVIAS DEL CONTINENTE AMERICANO S.A. AVIANCA                 90
DELTA AIR LINES INC.                                           90
TURKISH AIRLINES INC                                           85
QATAR AIRWAYS GROUP                                            82
ETHIOPIAN AIRLINES GROUP                                       68
AIR CANADA                                                     62
SOCIÉTÉ AIR FRANCE                                             60
ABSA - AEROLINHAS BRASILEIRAS S.A.                             59
ITALIA TRANSPORTO AEREO S.P.A.                                 56
TRANSPORTE AÉREOS DEL MERCOSUR S.A. (TAM MERCOSUR)             51
IBÉRIA LINEAS AEREAS DE ESPAÑA SOCIEDAD ANONIMA OPERADORA      47
SKY AIRLINE S.A.                                               46
TOTAL LINHAS AÉREAS S.A.                                       44
BOA BOLIVIANA DE AVIACIÓN                                      44
EMIRATES                                                       38
SWISS INTERNATIONAL AIR LINES LTD.                             38
ATLAS AIR INC                                                  34
DEUTSCHE LUFTHANSA A.G.                                        31
AEROVÍAS DE MÉXICO S.A DE C.V - AEROMÉXICO                     30
SKY AIRLINE PERU S.A.C.                                        30
AIR EUROPA LINEAS AEREAS SOCIEDAD ANONIMA                      30
BRITISH AIRWAYS PLC                                            30
JETSMART AIRLINES SPA - CHILE                                  28
KLM CIA. REAL HOLANDESA DE AVIAÇÃO                             28
ARAJET S.A.                                                    27
FB LÍNEAS AÉREAS S.A (FLYBONDI)                                25
TAAG LINHAS AÉREAS DE ANGOLA (ANGOLA AIRLINES)                 22
SOUTH AFRICAN AIRWAYS STATE OWNED COMPANY (SOC) LIMITED        17
ANIVIA SERVIÇOS AÉREOS LTDA                                    12
LÍNEA AÉREA CARGUEIRA DE COLOMBIA S.A - LANCO                  10
LUFTHANSA CARGO AG                                              9
AIR CHINA                                                       9
CA TERRA AVIA SRL                                               6
NATIONAL AIRLINES                                               3
MODERN TRANSPORTE AEREO DE CARGA S.A                            2
LAN PERU S.A.                                                   1
AIR ATLANTA ICELANDIC                                           1
LAN CARGO S.A.                                                  1
Name: count, dtype: int64
-------------------------
Counts of items in ModeloEquipamento -->> ModeloEquipamento
A320    2711
A321    1839
B38M    1492
B738    1059
A319     637
B789     452
A20N     373
B77W     314
AT72     261
E195     172
B39M     160
A339     148
B788     142
A21N     140
B737     138
B734     129
A359     118
E295     110
B764      89
B772      88
B773      81
B763      70
B77L      60
B73Y      58
B748      48
A333      47
B722      42
A330      30
A35K      30
A388      29
B78X      29
B744      27
B733      13
A332       4
AT76       3
AT75       2
B735       1
Name: count, dtype: int64
-------------------------
Counts of items in DescricaoAeroportoOrigem -->> DescricaoAeroportoOrigem
GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO - GUARULHOS - SP - BRASIL    11146
Name: count, dtype: int64
-------------------------

In [ ]:
# Extract all Types of columns from the data :
for col in filtered_df.columns:
    obj_cols=filtered_df.select_dtypes("object").columns

    num_cols=filtered_df.select_dtypes("number").columns

    disc_cols=filtered_df.select_dtypes(include=("int64")).columns

    conts_cols=filtered_df.select_dtypes(include=("float64")).columns

    Nomial_cols=filtered_df.nunique()[filtered_df.nunique()<3]

print(f"object_columns ----->>> {obj_cols}\n Numerical_columns ----->>> {num_cols} \n Discrete_columns ---->>> {disc_cols} \n Continous_cols ----->> {conts_cols} \n Nominal Columns --->> {Nomial_cols}")

object_columns ----->>> Index(['SiglaICAOEmpresaAerea', 'EmpresaAerea', 'NumeroVoo', 'CodigoDI',
       'CodigoTipoLinha', 'ModeloEquipamento', 'SiglaICAOAeroportoOrigem',
       'DescricaoAeroportoOrigem', 'SiglaICAOAeroportoDestino',
       'DescricaoAeroportoDestino', 'SituacaoVoo', 'Justificativa',
       'Referencia', 'SituacaoPartida', 'SituacaoChegada'],
      dtype='object')
 Numerical_columns ----->>> Index(['NumerodeAssentos', 'year', 'month', 'day'], dtype='object')
 Discrete_columns ---->>> Index([], dtype='object')
 Continous_cols ----->> Index([], dtype='object')
 Nominal Columns --->> SiglaICAOAeroportoOrigem    1
DescricaoAeroportoOrigem    1
SituacaoVoo                 1
Justificativa               0
year                        1
month                       1
dtype: int64