<a href="https://colab.research.google.com/github/Erasnilson/Trat-dados-via-PySpark/blob/main/Trat_dados_via_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamento de dados via PySpark
- Nesse exemplo utilizaremos uma base de dados da Agência Nacional de Aviação Civil (ANAC).

- Fluxo de voos no mês 06-2024

## Java e Spark

O Apache Spark é uma plataforma de processamento de dados em larga escala, projetada para ser rápida e eficiente. Ele é amplamente utilizado em várias áreas, permite a análise de grandes volumes de dados em paralelo. As tarefas podem ser distribuídas por vários nós de uma rede, o que acelera o processamento.

In [ ]:
#download do Java via colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
#download do spark via colab # as vezes a versão muda, então sempre verificar e mudar a versao
!wget -q https://dlcdn.apache.org/spark/spark-3.5.2/spark-3.5.2-bin-hadoop3.tgz

In [ ]:
#descompactando o spark
!tar xf spark-3.5.2-bin-hadoop3.tgz

### Instalando o findspark

A biblioteca findspark é utilizada para realizar a configuração do pyspark.
O findspark permite que você especifique o caminho de instalação do Spark manualmente dentro do seu código, sem precisar configurar variáveis de ambiente do sistema.

In [ ]:
#instalando o findspark
!pip install -q findspark

In [ ]:
#importando as bilbiotecas
import findspark
import os

In [ ]:
#configurando a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

### Iniciando uma sessão do spark em modo local

In [ ]:
!pip install pyspark==3.4.0

Requirement already satisfied: pyspark==3.4.0 in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.4.0) (0.10.9.7)

In [ ]:
#informando a pasta raíz do spark
findspark.init("spark-3.5.2-bin-hadoop3")

In [ ]:
#iniciando uma sessão do Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
#visualizando a versão do Spark
spark

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd

In [ ]:
#iniciando o objeto SQLContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

/content/spark-3.5.2-bin-hadoop3/python/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

## Dataset [Sirios-ANAC](https://siros.anac.gov.br/siros/registros/diversos/vra/2024/)

## Base de dados da Agência Nacional de Aviação Civil (ANAC).

 - Fluxo de voos no mês 06-2024
 - Aerpoporto de Guarulhos

In [ ]:
!wget https://siros.anac.gov.br/siros/registros/diversos/vra/2024/VRA_2024_06.csv

--2024-08-12 17:31:00--  https://siros.anac.gov.br/siros/registros/diversos/vra/2024/VRA_2024_06.csv
Resolving siros.anac.gov.br (siros.anac.gov.br)... 189.84.138.178
Connecting to siros.anac.gov.br (siros.anac.gov.br)|189.84.138.178|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22207071 (21M) [application/octet-stream]
Saving to: ‘VRA_2024_06.csv’

VRA_2024_06.csv     100%[===================>]  21.18M   938KB/s    in 24s

2024-08-12 17:31:25 (903 KB/s) - ‘VRA_2024_06.csv’ saved [22207071/22207071]

In [ ]:
#realizando o download da pasta
#!wget -r -np -nH --cut-dirs=4 -A csv https://siros.anac.gov.br/siros/registros/diversos/vra/2023/
#descompactando o arquivo de dados em zip
#!unzip 2019.zip

In [ ]:
data_voo = sqlContext.read.load("VRA_2024_06.csv", #pasta "2023/*"
                     format='csv',
                     header='true',
                     #lineSep='',#\r\n
                     inferSchema='true',
                     delimiter=";",
                     multiLine = 'true',
                     dateFormat = "dd/MM/yyyy",
                     timestampFormat = "dd/MM/yyyy HH:mm")

In [ ]:
# tratando a cofiguração data-hora dentro de cada pasta (por ano)
data_voo.show(5)
data_voo.printSchema()

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: string (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)


# A variável "referência"  foi classificada como string, deve ser classificada como data.

In [ ]:
# Tornando a variável referencia no mesmo padrão dos outros anos
from pyspark.sql.functions import *
#data_voov2=data_voo.withColumn('Referência', substring('Referência', 1,10))

# deixar a variavel referencia no mesmo padrao das demais
data_voov2 = data_voo.withColumn('Referência', to_date(data_voo['Referência'], 'yyyy-MM-dd'))

In [ ]:
# tratando a cofiguração data-hora dentro de cada pasta (por ano)
data_voov2.show(5)
data_voov2.printSchema()

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: date (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)

Uma das estratégias ofertadas pelo Spark, com foco em aumentar o desempenho da execução de operações sobre os dados é o método cache(), que permite guardar em memória os resultados dos dados obtidos por operações, para serem utilizados em consultas posteriores.

In [ ]:
spark

In [ ]:
#criando um cache dos dados
df_train = data_voov2.cache()

## Organizando a base de dados

In [ ]:
# deletar coluna que possui null
# eliminando colunas que sem "data de partidas"/"chegada do voo" (Referência = data prevista sem horas)
df_train = df_train.dropna(subset=('Partida Real','Chegada Real','Referência'))
df_train.show(5)

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+
only showing top 5 rows

# Criando novas variáveis a partir da data de Referência

In [ ]:
# subdividir uma variavel por carachter
from pyspark.sql.types import IntegerType

df_train=df_train.withColumn('Refyear', substring('Referência', 1,4).cast(IntegerType()))\
.withColumn('Refmonth', substring('Referência', 6,2).cast(IntegerType()))\
.withColumn('Refday', substring('Referência', 9,2).cast(IntegerType()))

df_train.show(5)
df_train.printSchema()
# 4 digitos (incluíndo 1) = ano  ex: 2024-06-01
# 2 digitos (incluíndo 6) = mês
# 2 digitos (incluíndo 9) = mês

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|year|month|day|Refyear|Refmonth|Refday|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
|                     AAL|AMERICAN AIRLINES...|      0904|        0|                I|              B788|               295|                       SBGL|      AEROPORTO INTERNA...|2024-06-01 23:00:00|2024-06-02 11:51:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:35:00|2024-06-02 20:46:00|   REALIZADO|         NULL|2024-06-01|    Atraso > 240|    Atraso > 240|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0905|        0|                I|              B788|               295|                       KMIA|      MIAMI INTERNATION...|2024-06-01 21:55:00|2024-06-01 22:40:00|                        SBGL|       AEROPORTO INTERNA...|2024-06-02 06:00:00|2024-06-02 06:56:00|   REALIZADO|         NULL|2024-06-01|    Atraso 30-60|    Atraso 30-60|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0929|        0|                I|              B77W|               318|                       KMIA|      MIAMI INTERNATION...|2024-06-01 20:50:00|2024-06-01 20:55:00|                        SBGR|       GUARULHOS - GOVER...|2024-06-02 05:15:00|2024-06-02 04:39:00|   REALIZADO|         NULL|2024-06-01|         Pontual|      Antecipado|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|   2024|       6|     1|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
only showing top 5 rows

root
 |-- Sigla ICAO Empresa Aérea: string (nullable = true)
 |-- Empresa Aérea: string (nullable = true)
 |-- Número Voo: string (nullable = true)
 |-- Código DI: string (nullable = true)
 |-- Código Tipo Linha: string (nullable = true)
 |-- Modelo Equipamento: string (nullable = true)
 |-- Número de Assentos: integer (nullable = true)
 |-- Sigla ICAO Aeroporto Origem: string (nullable = true)
 |-- Descrição Aeroporto Origem: string (nullable = true)
 |-- Partida Prevista: timestamp (nullable = true)
 |-- Partida Real: timestamp (nullable = true)
 |-- Sigla ICAO Aeroporto Destino: string (nullable = true)
 |-- Descrição Aeroporto Destino: string (nullable = true)
 |-- Chegada Prevista: timestamp (nullable = true)
 |-- Chegada Real: timestamp (nullable = true)
 |-- Situação Voo: string (nullable = true)
 |-- Justificativa: string (nullable = true)
 |-- Referência: date (nullable = true)
 |-- Situação Partida: string (nullable = true)
 |-- Situação Chegada: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- Refyear: integer (nullable = true)
 |-- Refmonth: integer (nullable = true)
 |-- Refday: integer (nullable = true)

In [ ]:
from pyspark.sql.functions import col
# Filtrar a base de dados que será utilizada (considerando uma pré-análise)
df_train.filter( (col('Situação Voo') == "REALIZADO") & (col('Sigla ICAO Aeroporto Origem') == "SBGR") & (col('Refyear')==2024) ).show(5)
# SBGR - Guarulhos

+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
|Sigla ICAO Empresa Aérea|       Empresa Aérea|Número Voo|Código DI|Código Tipo Linha|Modelo Equipamento|Número de Assentos|Sigla ICAO Aeroporto Origem|Descrição Aeroporto Origem|   Partida Prevista|       Partida Real|Sigla ICAO Aeroporto Destino|Descrição Aeroporto Destino|   Chegada Prevista|       Chegada Real|Situação Voo|Justificativa|Referência|Situação Partida|Situação Chegada|year|month|day|Refyear|Refmonth|Refday|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 23:15:00|2024-06-01 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 07:45:00|2024-06-02 07:31:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 21:25:00|2024-06-01 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-02 05:55:00|2024-06-02 05:15:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0962|        0|                I|              B789|               295|                       SBGR|      GUARULHOS - GOVER...|2024-06-01 22:20:00|2024-06-01 22:16:00|                        KDFW|       DALLAS-FORT WORTH...|2024-06-02 08:45:00|2024-06-02 08:18:00|   REALIZADO|         NULL|2024-06-01|      Antecipado|      Antecipado|2024|    6|  1|   2024|       6|     1|
|                     AAL|AMERICAN AIRLINES...|      0906|        0|                I|              B772|               288|                       SBGR|      GUARULHOS - GOVER...|2024-06-02 23:15:00|2024-06-02 23:08:00|                        KMIA|       MIAMI INTERNATION...|2024-06-03 07:45:00|2024-06-03 07:27:00|   REALIZADO|         NULL|2024-06-02|      Antecipado|      Antecipado|2024|    6|  2|   2024|       6|     2|
|                     AAL|AMERICAN AIRLINES...|      0930|        0|                I|              B77W|               318|                       SBGR|      GUARULHOS - GOVER...|2024-06-02 21:25:00|2024-06-02 21:18:00|                        KMIA|       MIAMI INTERNATION...|2024-06-03 05:55:00|2024-06-03 05:31:00|   REALIZADO|         NULL|2024-06-02|      Antecipado|      Antecipado|2024|    6|  2|   2024|       6|     2|
+------------------------+--------------------+----------+---------+-----------------+------------------+------------------+---------------------------+--------------------------+-------------------+-------------------+----------------------------+---------------------------+-------------------+-------------------+------------+-------------+----------+----------------+----------------+----+-----+---+-------+--------+------+
only showing top 5 rows

# Filtros em pyspark/pandas

In [ ]:
# Demais filtros
#df_train.filter( (col('Situação Voo') == "REALIZADO") & (col('Sigla ICAO Aeroporto Origem') == "SBGR") & (col('year')==2024) ).toPandas().head(5)
#df_train.groupBy('year','month').agg({"Referência": "count"}).sort('year','month').toPandas()
#df_train.groupBy('Situação Chegada',"Empresa Aérea","DiffInHoursR").count().show()
#df_train.groupBy('Situação Chegada',"Empresa Aérea","Data_Ref").agg({"horas_voo": "avg"}).sort("Empresa Aérea").show()
#'Sigla ICAO Aeroporto Destino'Referência .sort('year','month')
#.sort("Situação Voo", "Número de Assentos")
#.agg({"salary": "avg", "age": "max"}).show()

## Groupby

In [ ]:
from pandas.core.indexes.api import safe_sort_index
from numpy import select
from pandas.core.groupby import groupby

# Voos por dia em Guarulhos
df_train.groupBy("Referência").agg({"Referência": "count"}).sort('Referência').show(5)

# Renomear as variáveis
from pyspark.sql.functions import *
#df_train.withColumnRenamed("Referência","Data").withColumnRenamed("count(Referência)","n")

+----------+-----------------+
|Referência|count(Referência)|
+----------+-----------------+
|2024-06-01|             1886|
|2024-06-02|             2365|
|2024-06-03|             2570|
|2024-06-04|             2563|
|2024-06-05|             2555|
+----------+-----------------+
only showing top 5 rows

## Pandas

In [ ]:
# Converter o DataFrame PySpark para um DataFrame Pandas
pd_df = df_train.toPandas()

In [ ]:
!pip install unidecode
import unidecode

pd_df.columns = (
    pd_df.columns
    .map(unidecode.unidecode)  # Remove a acentuação de todas as letras
    .str.replace('[^A-Za-z0-9_]', '', regex=True)  # Remove caracteres especiais, mantendo letras e números
)
pd_df.columns

Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.8)

Index(['SiglaICAOEmpresaAerea', 'EmpresaAerea', 'NumeroVoo', 'CodigoDI',
       'CodigoTipoLinha', 'ModeloEquipamento', 'NumerodeAssentos',
       'SiglaICAOAeroportoOrigem', 'DescricaoAeroportoOrigem',
       'PartidaPrevista', 'PartidaReal', 'SiglaICAOAeroportoDestino',
       'DescricaoAeroportoDestino', 'ChegadaPrevista', 'ChegadaReal',
       'SituacaoVoo', 'Justificativa', 'Referencia', 'SituacaoPartida',
       'SituacaoChegada', 'year', 'month', 'day', 'Refyear', 'Refmonth',
       'Refday'],
      dtype='object')

# Análise Exploratória

In [ ]:
# Filtrar os dados com as condições desejadas e mostrar as 5 primeiras linhas
filter_SBGR = pd_df[(pd_df['SituacaoVoo'] == "REALIZADO") &
                    (pd_df['SiglaICAOAeroportoOrigem'] == "SBGR") &
                    (pd_df['year'] == 2024)]

filtered_df = filter_SBGR[['Referencia', 'PartidaReal', 'EmpresaAerea', 'ModeloEquipamento','SituacaoChegada']]
filtered_df.head(3)

,Referencia,PartidaReal,EmpresaAerea,ModeloEquipamento,SituacaoChegada
2,2024-06-01,2024-06-01 23:08:00,"AMERICAN AIRLINES, INC.",B772,Antecipado
4,2024-06-01,2024-06-01 21:18:00,"AMERICAN AIRLINES, INC.",B77W,Antecipado
6,2024-06-01,2024-06-01 22:16:00,"AMERICAN AIRLINES, INC.",B789,Antecipado

In [ ]:
#Alterando tipo de coluna: mes e hora da partida real
filtered_df['Months'] = filtered_df['PartidaReal'].dt.month
filtered_df['Hour'] = filtered_df['PartidaReal'].dt.hour
filtered_df['DataPart'] = filtered_df['PartidaReal'].dt.date
filtered_df.head(3)

<ipython-input-94-64c3350109f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Months'] = filtered_df['PartidaReal'].dt.month
<ipython-input-94-64c3350109f8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Hour'] = filtered_df['PartidaReal'].dt.hour
<ipython-input-94-64c3350109f8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['DataPart'] = filtered_df['PartidaReal'].dt.date

,Referencia,PartidaReal,EmpresaAerea,ModeloEquipamento,SituacaoChegada,Months,Hour,DataPart
2,2024-06-01,2024-06-01 23:08:00,"AMERICAN AIRLINES, INC.",B772,Antecipado,6,23,2024-06-01
4,2024-06-01,2024-06-01 21:18:00,"AMERICAN AIRLINES, INC.",B77W,Antecipado,6,21,2024-06-01
6,2024-06-01,2024-06-01 22:16:00,"AMERICAN AIRLINES, INC.",B789,Antecipado,6,22,2024-06-01

## Resumindo os dados com Tabelas de Frequência

In [ ]:
frequencia = filtered_df['EmpresaAerea'].value_counts()
frequencia_relativa = filtered_df['EmpresaAerea'].value_counts(normalize=True) * 100

tb_frequencia = pd.DataFrame({'Frequência': frequencia, 'Frequência Relativa (%)': frequencia_relativa})\
                    .rename_axis('Empresa Aérea')\
                        .reset_index()

tb_frequencia['Frequência Acumulada'] = tb_frequencia['Frequência'].cumsum()
tb_frequencia['Frequência Relativa Acumulada (%)'] = tb_frequencia['Frequência Acumulada'] / tb_frequencia['Frequência'].sum() * 100
tb_frequencia

,Empresa Aérea,Frequência,Frequência Relativa (%),Frequência Acumulada,Frequência Relativa Acumulada (%)
0,TAM LINHAS AÉREAS S.A.,5314,47.676296,5314,47.676296
1,GOL LINHAS AÉREAS S.A. (EX- VRG LINHAS AÉREAS ...,2473,22.187332,7787,69.863628
2,AZUL LINHAS AÉREAS BRASILEIRAS S/A,745,6.684012,8532,76.547640
3,PASSAREDO TRANSPORTES AÉREOS S.A.,264,2.368563,8796,78.916203
4,LATAM AIRLINES GROUP (EX - LAN AIRLINES S/A),211,1.893056,9007,80.809259
5,SIDERAL LINHAS AÉREAS LTDA.,193,1.731563,9200,82.540822
6,COMPAÑIA PANAMEÑA DE AVIACION S.A. (COPA AIRLI...,160,1.435493,9360,83.976314
7,"AMERICAN AIRLINES, INC.",119,1.067648,9479,85.043962
8,"UNITED AIRLINES, INC",117,1.049704,9596,86.093666
9,AEROLINEAS ARGENTINAS S/A,112,1.004845,9708,87.098511
10,TAP - TRANSPORTES AÉREOS PORTUGUESES S/A,92,0.825408,9800,87.923919
11,AEROVIAS DEL CONTINENTE AMERICANO S.A. AVIANCA,90,0.807465,9890,88.731383
12,DELTA AIR LINES INC.,90,0.807465,9980,89.538848
13,TURKISH AIRLINES INC,85,0.762605,10065,90.301453
14,QATAR AIRWAYS GROUP,82,0.735690,10147,91.037143
15,ETHIOPIAN AIRLINES GROUP,68,0.610084,10215,91.647228
16,AIR CANADA,62,0.556253,10277,92.203481
17,SOCIÉTÉ AIR FRANCE,60,0.538310,10337,92.741791
18,ABSA - AEROLINHAS BRASILEIRAS S.A.,59,0.529338,10396,93.271129
19,ITALIA TRANSPORTO AEREO S.P.A.,56,0.502422,10452,93.773551
20,TRANSPORTE AÉREOS DEL MERCOSUR S.A. (TAM MERCO...,51,0.457563,10503,94.231114
21,IBÉRIA LINEAS AEREAS DE ESPAÑA SOCIEDAD ANONIM...,47,0.421676,10550,94.652790
22,SKY AIRLINE S.A.,46,0.412704,10596,95.065494
23,TOTAL LINHAS AÉREAS S.A.,44,0.394760,10640,95.460255
24,BOA BOLIVIANA DE AVIACIÓN,44,0.394760,10684,95.855015
25,EMIRATES,38,0.340929,10722,96.195945
26,SWISS INTERNATIONAL AIR LINES LTD.,38,0.340929,10760,96.536874
27,ATLAS AIR INC,34,0.305042,10794,96.841916
28,DEUTSCHE LUFTHANSA A.G.,31,0.278127,10825,97.120043
29,AEROVÍAS DE MÉXICO S.A DE C.V - AEROMÉXICO,30,0.269155,10855,97.389198
30,SKY AIRLINE PERU S.A.C.,30,0.269155,10885,97.658353
31,AIR EUROPA LINEAS AEREAS SOCIEDAD ANONIMA,30,0.269155,10915,97.927508
32,BRITISH AIRWAYS PLC,30,0.269155,10945,98.196662
33,JETSMART AIRLINES SPA - CHILE,28,0.251211,10973,98.447874
34,KLM CIA. REAL HOLANDESA DE AVIAÇÃO,28,0.251211,11001,98.699085
35,ARAJET S.A.,27,0.242239,11028,98.941324
36,FB LÍNEAS AÉREAS S.A (FLYBONDI),25,0.224296,11053,99.165620
37,TAAG LINHAS AÉREAS DE ANGOLA (ANGOLA AIRLINES),22,0.197380,11075,99.363000
38,SOUTH AFRICAN AIRWAYS STATE OWNED COMPANY (SOC...,17,0.152521,11092,99.515521
39,ANIVIA SERVIÇOS AÉREOS LTDA,12,0.107662,11104,99.623183
40,LÍNEA AÉREA CARGUEIRA DE COLOMBIA S.A - LANCO,10,0.089718,11114,99.712901
41,LUFTHANSA CARGO AG,9,0.080746,11123,99.793648
42,AIR CHINA,9,0.080746,11132,99.874394
43,CA TERRA AVIA SRL,6,0.053831,11138,99.928225
44,NATIONAL AIRLINES,3,0.026915,11141,99.955141
45,MODERN TRANSPORTE AEREO DE CARGA S.A,2,0.017944,11143,99.973085
46,LAN PERU S.A.,1,0.008972,11144,99.982056
47,AIR ATLANTA ICELANDIC,1,0.008972,11145,99.991028
48,LAN CARGO S.A.,1,0.008972,11146,100.000000

## Totais por grupo

In [ ]:
tot_voos = pd.crosstab(index=filtered_df['Hour'],
                        columns=filtered_df['SituacaoChegada'],
                        values=filtered_df['EmpresaAerea'],
                        aggfunc='count')  # sum

tot_voos.reset_index(drop=False, inplace=True)
tot_voos.columns.name = None
tot_voos

,Hour,Antecipado,Atraso 120-240,Atraso 30-60,Atraso 60-120,Atraso > 240,Pontual
0,0,49.0,2.0,12.0,4.0,NaN,28.0
1,1,164.0,4.0,5.0,3.0,1.0,37.0
2,2,33.0,3.0,6.0,NaN,3.0,30.0
3,3,61.0,1.0,44.0,2.0,4.0,61.0
4,4,141.0,7.0,25.0,12.0,2.0,59.0
5,5,159.0,NaN,1.0,2.0,NaN,29.0
6,6,148.0,2.0,4.0,1.0,1.0,31.0
7,7,494.0,3.0,8.0,1.0,1.0,280.0
8,8,410.0,1.0,46.0,6.0,1.0,390.0
9,9,510.0,3.0,35.0,16.0,4.0,398.0
10,10,85.0,4.0,26.0,17.0,NaN,132.0
11,11,118.0,18.0,7.0,9.0,2.0,19.0
12,12,325.0,11.0,13.0,10.0,3.0,257.0
13,13,195.0,9.0,17.0,3.0,5.0,157.0
14,14,307.0,1.0,25.0,9.0,3.0,246.0
15,15,342.0,3.0,9.0,6.0,2.0,165.0
16,16,286.0,5.0,18.0,4.0,1.0,161.0
17,17,390.0,29.0,34.0,17.0,1.0,292.0
18,18,289.0,NaN,26.0,8.0,2.0,178.0
19,19,108.0,6.0,13.0,15.0,4.0,43.0
20,20,250.0,6.0,12.0,4.0,1.0,61.0
21,21,443.0,13.0,26.0,7.0,3.0,178.0
22,22,533.0,22.0,26.0,7.0,1.0,230.0
23,23,462.0,5.0,42.0,8.0,3.0,298.0

# Quantitativo de voos, por hora e data, no aeroporto de Guarulhos

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

atraso_por_hora = pd.crosstab(index=filtered_df['DataPart'],
                              columns=filtered_df['Hour'],
                              values=filtered_df['EmpresaAerea'],
                              aggfunc='count').fillna(0).astype('int')

In [ ]:
atraso_por_hora.style.background_gradient(cmap='rocket').set_properties(**{'text-align': 'center'})

# Demais códigos

In [ ]:
#get info about the dataset:
print(filtered_df.info())
print("-"*25)
# to know more about the shape of the dataset:
print("shape of the dataset -->>",np.shape(filtered_df))

<class 'pandas.core.frame.DataFrame'>
Index: 11146 entries, 2 to 75195
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SiglaICAOEmpresaAerea      11146 non-null  object
 1   EmpresaAerea               11146 non-null  object
 2   NumeroVoo                  11146 non-null  object
 3   CodigoDI                   11146 non-null  object
 4   CodigoTipoLinha            11146 non-null  object
 5   ModeloEquipamento          11146 non-null  object
 6   NumerodeAssentos           11146 non-null  int32
 7   SiglaICAOAeroportoOrigem   11146 non-null  object
 8   DescricaoAeroportoOrigem   11146 non-null  object
 9   PartidaPrevista            10919 non-null  datetime64[ns]
 10  PartidaReal                11146 non-null  datetime64[ns]
 11  SiglaICAOAeroportoDestino  11146 non-null  object
 12  DescricaoAeroportoDestino  11146 non-null  object
 13  ChegadaPrevista            10919 non-null  datetime64[ns]
 14  ChegadaReal                11146 non-null  datetime64[ns]
 15  SituacaoVoo                11146 non-null  object
 16  Justificativa              0 non-null      object
 17  Referencia                 11146 non-null  object
 18  SituacaoPartida            10919 non-null  object
 19  SituacaoChegada            10919 non-null  object
 20  year                       11146 non-null  int32
 21  month                      11146 non-null  int32
 22  day                        11146 non-null  int32
dtypes: datetime64[ns](4), int32(4), object(15)
memory usage: 1.9+ MB
None
-------------------------
shape of the dataset -->> (11146, 23)

In [ ]:
#check if there null values in data:
filtered_df.isna().mean()

SiglaICAOEmpresaAerea        0.000000
EmpresaAerea                 0.000000
NumeroVoo                    0.000000
CodigoDI                     0.000000
CodigoTipoLinha              0.000000
ModeloEquipamento            0.000000
NumerodeAssentos             0.000000
SiglaICAOAeroportoOrigem     0.000000
DescricaoAeroportoOrigem     0.000000
PartidaPrevista              0.020366
PartidaReal                  0.000000
SiglaICAOAeroportoDestino    0.000000
DescricaoAeroportoDestino    0.000000
ChegadaPrevista              0.020366
ChegadaReal                  0.000000
SituacaoVoo                  0.000000
Justificativa                1.000000
Referencia                   0.000000
SituacaoPartida              0.020366
SituacaoChegada              0.020366
year                         0.000000
month                        0.000000
day                          0.000000
dtype: float64

# Quantitativo de cada item em cada coluna:

In [ ]:
# Especificar as colunas que você deseja iterar
variaveis = ['EmpresaAerea', 'ModeloEquipamento', 'DescricaoAeroportoOrigem']

# Loop para contar itens nas colunas especificadas
for col in variaveis:
    print(f"Counts of items in {col} -->> {filtered_df[col].value_counts()}") #\n
    print("-" * 25)

Counts of items in EmpresaAerea -->> EmpresaAerea
TAM LINHAS AÉREAS S.A.                                       5314
GOL LINHAS AÉREAS S.A. (EX- VRG LINHAS AÉREAS S.A.)          2473
AZUL LINHAS AÉREAS BRASILEIRAS S/A                            745
PASSAREDO TRANSPORTES AÉREOS S.A.                             264
LATAM AIRLINES GROUP (EX - LAN AIRLINES S/A)                  211
SIDERAL LINHAS AÉREAS LTDA.                                   193
COMPAÑIA PANAMEÑA DE AVIACION S.A. (COPA AIRLINES)            160
AMERICAN AIRLINES, INC.                                       119
UNITED AIRLINES, INC                                          117
AEROLINEAS ARGENTINAS S/A                                     112
TAP - TRANSPORTES AÉREOS PORTUGUESES S/A                       92
AEROVIAS DEL CONTINENTE AMERICANO S.A. AVIANCA                 90
DELTA AIR LINES INC.                                           90
TURKISH AIRLINES INC                                           85
QATAR AIRWAYS GROUP                                            82
ETHIOPIAN AIRLINES GROUP                                       68
AIR CANADA                                                     62
SOCIÉTÉ AIR FRANCE                                             60
ABSA - AEROLINHAS BRASILEIRAS S.A.                             59
ITALIA TRANSPORTO AEREO S.P.A.                                 56
TRANSPORTE AÉREOS DEL MERCOSUR S.A. (TAM MERCOSUR)             51
IBÉRIA LINEAS AEREAS DE ESPAÑA SOCIEDAD ANONIMA OPERADORA      47
SKY AIRLINE S.A.                                               46
TOTAL LINHAS AÉREAS S.A.                                       44
BOA BOLIVIANA DE AVIACIÓN                                      44
EMIRATES                                                       38
SWISS INTERNATIONAL AIR LINES LTD.                             38
ATLAS AIR INC                                                  34
DEUTSCHE LUFTHANSA A.G.                                        31
AEROVÍAS DE MÉXICO S.A DE C.V - AEROMÉXICO                     30
SKY AIRLINE PERU S.A.C.                                        30
AIR EUROPA LINEAS AEREAS SOCIEDAD ANONIMA                      30
BRITISH AIRWAYS PLC                                            30
JETSMART AIRLINES SPA - CHILE                                  28
KLM CIA. REAL HOLANDESA DE AVIAÇÃO                             28
ARAJET S.A.                                                    27
FB LÍNEAS AÉREAS S.A (FLYBONDI)                                25
TAAG LINHAS AÉREAS DE ANGOLA (ANGOLA AIRLINES)                 22
SOUTH AFRICAN AIRWAYS STATE OWNED COMPANY (SOC) LIMITED        17
ANIVIA SERVIÇOS AÉREOS LTDA                                    12
LÍNEA AÉREA CARGUEIRA DE COLOMBIA S.A - LANCO                  10
LUFTHANSA CARGO AG                                              9
AIR CHINA                                                       9
CA TERRA AVIA SRL                                               6
NATIONAL AIRLINES                                               3
MODERN TRANSPORTE AEREO DE CARGA S.A                            2
LAN PERU S.A.                                                   1
AIR ATLANTA ICELANDIC                                           1
LAN CARGO S.A.                                                  1
Name: count, dtype: int64
-------------------------
Counts of items in ModeloEquipamento -->> ModeloEquipamento
A320    2711
A321    1839
B38M    1492
B738    1059
A319     637
B789     452
A20N     373
B77W     314
AT72     261
E195     172
B39M     160
A339     148
B788     142
A21N     140
B737     138
B734     129
A359     118
E295     110
B764      89
B772      88
B773      81
B763      70
B77L      60
B73Y      58
B748      48
A333      47
B722      42
A330      30
A35K      30
A388      29
B78X      29
B744      27
B733      13
A332       4
AT76       3
AT75       2
B735       1
Name: count, dtype: int64
-------------------------
Counts of items in DescricaoAeroportoOrigem -->> DescricaoAeroportoOrigem
GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO - GUARULHOS - SP - BRASIL    11146
Name: count, dtype: int64
-------------------------